.d-flex-space {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 90%;
  /* Adjust the width as needed */
  margin-left: auto;
  margin-right: auto;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card h2 {
  margin-top: 0;
}

.card p {
  margin-bottom: 0;
}

.pill-list {
  list-style: none;
  padding: 0;
}

.pill-list .pill {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border-radius: 50px;
  /* This creates the pill shape */
  padding: 5px 10px;
  /* Adjust padding as needed */
  margin-right: 5px;
  /* Adjust margin as needed */
}

.location {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.fixed-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 35em;
  height: 100vh;
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #393939, #1f1f1f, #0D0D0D);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #393939, #1f1f1f, #0D0D0D);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  z-index: 1000;
}

.pushed-r {
  margin-left: 35em;
}