<main class="container">
  <header class="d-flex-space">
    <div class="main-details">
      <h1>Marco Izaguirre</h1>
      <p class="subtitle">Full Stack Developer</p>
      <p class="location">
        <img src="assets/location-pin-alt-1-svgrepo-com.svg" width="15px" height="15px" alt="Location Icon">
        Ciudad de Mexico, Mexico
      </p>
      <div>
        <button>Email</button>
        <button>Phone</button>
        <button>Linkedin</button>
        <button>Twitter</button>
      </div>
    </div>
    <div class="pic">
      <img src="somepic.jpg" width="100" height="100">
    </div>
  </header>
  <section class="about-me">
    <h2>Sobre Mi</h2>
    <p>Expirimentado desarrollador de software con mas de 10 anios de experiencia en el disenio, desarrollo y operacion
      de sistemas y flujos de aplicacion, usando tecnologias como Javascript, Typescript, Java, .NET, PHP, SQL, NoSQL y
      servicios en la nube.</p>
  </section>
  <section class="expirience">
    <h2>Experiencia Laboral</h2>
    <div class="d-flex-space">
      <h3>Kunai</h3>
      <p>2024</p>
    </div>
    <h3>Sr Software Engineer</h3>
    <p>Diseno, desarrollo y operacion de nuevas funcionalidades y procesos para un sistema de creditos bancarios para
      uno de los 10 bancos mas importantes de estados unidos.</p>
  </section>
  <section class="education">
    <h2>Educacion</h2>
    <div class="d-flex-space">
      <div class="education-detail">
        <h3>Universidad Tecnologica de Mexico</h3>
        <p>Ingenieria en Sistemas</p>
      </div>
      <p>2009 - 2014</p>
    </div>
  </section>
  <section class="projects">
    <h3>Proyectos</h3>
    <div class="card-grid">
      <div class="card">
        <img src="https://via.placeholder.com/150" alt="Placeholder Image">
        <h2>Card 1</h2>
        <p>This is the content of card 1.</p>
      </div>
      <div class="card">
        <img src="https://via.placeholder.com/150" alt="Placeholder Image">
        <h2>Card 2</h2>
        <p>This is the content of card 2.</p>
      </div>
      <!-- Add more cards here -->
    </div>
  </section>
  <section class="skills">
    <h3>Habilidades</h3>
    <ul class="pill-list">
      <li class="pill">Pill 1</li>
      <li class="pill">Pill 2</li>
      <li class="pill">Pill 3</li>
    </ul>

  </section>
</main>